interactions:
- request:
    body: '{"name": "12345", "type": "Microsoft.Support/supportTickets"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Support/checkNameAvailability?api-version=2022-09-01-preview
  response:
    body:
      string: '{"message":"Name 12345 is invalid. The name cannot include: ''<'',
        ''>'', ''%'', ''&'', '':'', '''', ''?'', ''/'' or any control characters.
        It cannot be all digits and cannot start with ''tmp-''. The max length is
        255 characters.","nameAvailable":false,"reason":"Invalid"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
